<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Websockets Chat</title>
    <link href="https://unpkg.com/vue-simple-notify/dist/vue-simple-notify.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-simple-notify/dist/vue-simple-notify.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <main id="v-app">
        <section class="chat">
            <h1>Websockets Tester</h1>
            <form>
                <input v-model="text" type="text"/>
                <button type="submit" @click.prevent="sendChatMessage()">Send</button>
            </form>
            <h3>Messages</h3>
            <p>
                <ul>
                    <li v-for="msg of messages">
                        <strong>{{ msg.sender }}:</strong> {{ msg.message }}
                    </li>
                </ul>
            </p>
            <h3>Users</h3>
            <p>
                <ul>
                    <li v-for="user of users">
                        <strong>{{ user }}</strong>
                    </li>
                </ul>
            </p>
        </section>
    </main>
    <script>
        var app = new Vue({
            el: '#v-app',
            data: {
                username: '',
                text: '',
                messages: [],
                users: [],
                socket: { chat: null },
            },
            methods: {
                sendChatMessage() {
                    this.socket.chat.emit('chatToServer', { sender: this.username, message: this.text });
                    this.text = "";
                },
                receiveChatMessage(msg) {
                    this.messages.push(msg);
                },
                receiveChatUsers(msg) {
                    this.users = msg
                },
            },
            created() {
                this.username = prompt('Enter your username:');
                this.socket.chat = io('http://localhost:3000/chat');
                this.socket.chat.on('chatToClient', (msg) => {
                    this.receiveChatMessage(msg);
                });
                this.socket.chat.on('users', (msg) => {
                    this.receiveChatUsers(msg);
                });
                this.socket.chat.on('connect', (msg) => {
                    this.socket.chat.emit('login', { sender: this.username });
                });
            }
        });

    </script>
</body>
</html>
